[2019-02-09 06:31] yanxon opened #1 "[Issue] fix data root"

[2019-02-09 22:44] yanxon opened #2 "Low Predictability"
[code]

More training data!

[2019-02-09 22:48] yanxon commented on #1
done!

[2019-02-09 22:48] #1 closed

[2019-02-09 23:42] yanxon commented on #2
Change mean_squared_error to mean_absolute_error & more training data from Elastic.json, Surface.json, and Vacancy.json.

[2019-02-10 00:12] #2 closed

[2019-02-10 21:48] yanxon opened #3 "[ToDo] Try NAG"

[2019-02-11 20:06] qzhu2017 opened #4 "Add the option to fit the force"

[2019-02-13 18:07] yanxon opened #5 "MAE is too large."
Try the following:
1. Include stress
2. Try to reproduce Mo

[2019-02-13 18:07] #4 closed

[2019-03-14 16:24] yanxon commented on #5
Adding these in line 75 works well.
fcoords = np.dot(positions, np.linalg.inv(lat))

[2019-03-14 16:24] #5 closed

[2019-03-14 16:26] yanxon opened #6 "[ToDo] Implement Scipy(Diff. Evolutionary Algorithm)"

[2019-04-06 23:30] yanxon commented on #6
Eventually we want to develop kwargs for:
1. Global optimization arguments
2. Linear regression arguments
3. Bispectrum arguments. i.e. include electrostatics potential

[2019-04-09 01:34] yanxon commented on #6
1. Run single-point dft
2. Run LAMMPS with electrostatic potential
3. Only force parameters are un-relaxed

[2019-04-09 22:58] yanxon opened #7 "Why does the SNAP bispectrum calculation need LJ potential?"

[2019-04-09 23:00] yanxon commented on #6
Try to run zbl potential

[2019-06-26 01:20] yanxon opened #8 "LAMMPS 2019 gets rid of diagonal feature in sna/atom command"
[Documentation](https://lammps.sandia.gov/doc/compute_sna_atom.html)

[2019-06-26 20:25] yanxon opened #9 "[SNAP] Force doesn't fit well for Si"
The energy fits well, but not the force.

[code]

Hypothesis:
1. The structure is too random, it may need more data to support the fitting.
2. If the crystal structure can be narrowed down to diamond structure, this may improve the fitting.

[2019-07-02 00:58] #6 closed

[2019-07-08 21:56] yanxon opened #10 "@numba.njit"
@David-Zagaceta

To follow up my question in the email, we need to use Numba decorator since the code slowly calculates the Gaussian functions. I would like to use Numba here:
https://github.com/qzhu2017/PyXtal_FF/blob/d69767aabd90c2e2515a9fe83b80c45001632d65/mapp/descriptors/behlerparrinello.py#L60

and here:

https://github.com/qzhu2017/PyXtal_FF/blob/d69767aabd90c2e2515a9fe83b80c45001632d65/map

[2019-07-08 22:21] David-Zagaceta commented on #10
@yanxon

1.
I'm not sure you'd have to necessarily change your algorithm but you would have to precompute or pre call function parameters you are calling from pymatgen objects, like neighbors or species, and store them in an array before passing to a numba function.

There's also a lot of functions called within these functions so you would need to start at the lowest level of computation and rewr

[2019-07-09 22:17] yanxon commented on #10
@David-Zagaceta,

Thank you for the suggestion.

I agree that we need to extract information from Pymatgen object. This is very easy to do, in fact.
The tough part is to match what kind information to be passed to a certain function.

Although, how do you declare a string type in the eager compilation mode?

[2019-07-09 22:53] yanxon commented on #10
@David-Zagaceta,

I think I solved this puzzle.
The reason I need string as arg is that I need to compare two species of atoms: Na and Cl. If Na != Cl, then no calculation is needed.

**It seem like Numba does not take list of list of string as an argument. (If you know how to make Numba take this type of arg please let me know.)**

If not, I can give 'Na' and 'Cl' a numerical representation based

[2019-07-09 23:31] David-Zagaceta commented on #10
@yanxon

You would have to feed in the string as a 1-D array of characters.  The numba data type for characters is
[code]
for a 1-D array of characters, the datatype would be
[code]

Feeding the string
[code]
to a function would result in an indexable array where

[code]

Hope that helps

[2019-07-10 00:49] yanxon commented on #10
Hi @David-Zagaceta,

I tried your suggestion. I obtain this type of error:
[code]

Please look here:
https://github.com/qzhu2017/PyXtal_FF/blob/9b965624d4737de7eda8eba477579b9350092f2b/mapp/descriptors/new_bp.py#L235

This will compile just fine. However, if you use line 233+line 234 instead, the code gives me that error. Can you please take a look with this eager compilation issue?

Thanks,

Howa

[2019-07-14 01:36] yanxon commented on #10
@qzhu2017,

Numba definitely performs so much better than without. I am calculating one Si structure with 64 atoms per unit cell. The symmetry functions parameters are:

[code]
Here is the result of the calculations:
[code]

@David-Zagaceta,
This Numba performance is without eager compilation which I think it is already very good. Do you think it will perform significantly better with eager compil

[2019-07-22 04:04] #10 closed

[2019-08-30 21:53] #8 closed

[2019-12-15 03:20] #9 closed

[2019-12-15 03:20] #7 closed

[2019-12-15 03:21] #3 closed

[2019-12-16 02:07] David-Zagaceta opened #11 "Example script for Bispectrum will not work"
@qzhu2017

The bispectrum script doesn't include the descriptor and it also includes deprecated options.  Opt and rfac should be removed.

[2019-12-16 03:06] qzhu2017 commented on #11
fixed!

[2019-12-16 03:06] #11 closed

[2020-01-23 22:45] qzhu2017 opened #12 "Version Releases"
v0.0.1: Basic functions
v0.0.2: Automatic differentiations

[2020-01-30 21:57] qzhu2017 commented on #12
tag: v0.0.2
Needs to update the sphinx documentation.

[2020-05-25 03:18] qzhu2017 opened #13 "stress training in EAMD is not working"
@yanxon
I am preparing the scripts for a benchmark on all different descriptors

While running on EAMD,
https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/UCSD-Si-214-25/eamd-NN.py

It seems that the stress MAE does not change during the training. Can you check if there is something wrong here?

[2020-05-25 03:20] qzhu2017 opened #14 "cuda in NN is not working"
@yanxon
If you turn on `device=cuda`, the following code does not work

https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/SNU-SiO2/so4-full.py

[2020-05-25 03:53] qzhu2017 opened #15 "mini-batch is very slow and takes a lot of memory"
@David-Zagaceta @yanxon
Here is another unpleasant issue. In the following code,
https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/SNU-SiO2/so4-mini.py

I am trying to use the minibatch for the training of 10000 SiO2 structures. Even I specified 200 structures for each batch (with the option of `memory: out`), the code still consumes a lot of memory. It also makes the code very slow. Have

[2020-05-26 01:21] qzhu2017 commented on #15
This will be fixed later after v-0.1. A possible solution is to split the entire database into many .npy files based on the given batch size. Then we either pick each batch for training.

[2020-05-26 01:23] qzhu2017 commented on #14
It is working but if one pick the file from CPU training. This won't work. In general, we don't want to use cuda. Will fix this after #15

[2020-05-26 09:54] qzhu2017 commented on #13
@yanxon
Okay, I think the code is correct. However, it requires a very big stress coefficients to make it work. I think this is because of the scaling.

<img width="519" alt="image" src="https://user-images.githubusercontent.com/29445366/82886881-08836f00-9efc-11ea-8c10-8855c8ab17a1.png">

Unlike BP, this one is not dimensionless. The refactor on phi creates some crazy behavior.

[2020-05-26 18:47] qzhu2017 commented on #13
Fixed it by increasing the coefficient for stress training. It seems that these coefficients also have an impact on the speed of convergence in training.

[2020-05-26 18:47] #13 closed

[2020-05-26 20:19] #12 closed

[2020-05-27 19:14] qzhu2017 opened #16 "A unified db file for the training dataset"
@David-Zagaceta
@yanxon
At the moment, we create separate utilities to parse the DFT data from different formats
- json
- xyz
- VASP OUTCAR

It is perhaps easier to use a unified file to store this information. I am considering to use the ase_db.
In this case, we will have
- ase atoms object to store the atomic information
- meta dict to store energy/force/stress information

The other reason why

[2020-05-30 23:11] qzhu2017 opened #17 "Atom weighted symmetry function"
@yanxon
In the current BP function, we consider each type of G2/G4 interaction as different descriptor. It would be good to have a simplified version of this based on the atom weighted scheme.

After this is done, it would be easier to test to how much extent the atom-weighted scheme scarify the accuracy for multi-component systems like SiO2.

[2020-05-30 23:13] qzhu2017 opened #18 "Automated parameter set for BP and EAMD"
Now, we have to manually provide the parameters for BP and EAMD. It would be nice to have a simple utility to generate a default set.

[2020-05-30 23:28] yanxon commented on #18
@qzhu2017

This is a challenging task to do. I truly believe the accuracy you obtain with the different parameter sets depends on the dataset.

There are multiple studies on automated parameters for BP/EAD. Here are some that I found in the literature:
1. https://pubs.acs.org/doi/abs/10.1021/acs.jpclett.9b02037
2. https://aip.scitation.org/doi/10.1063/1.5019667

I used these methods for SiO2 datas

[2020-05-30 23:56] qzhu2017 commented on #18
@yanxon
It is better than nothing.

[2020-05-31 23:56] yanxon commented on #17
@qzhu2017

Test for BP run file:
[code]

Results:
[code]

[2020-06-01 21:41] yanxon commented on #15
@qzhu2017

It is slow because of the `shelve` database. It takes a lot of memory because the `forces` are store in the memory while the `x`, `dxdr`, and `rdxdr` are in memory.

[2020-06-01 21:52] qzhu2017 commented on #15
@yanxon That’s why we will use a set of npy file at the beginning. And then use these npy files for the subsequent trainings. We discussed this some time ago, didn’t we?

[2020-06-01 22:00] yanxon commented on #15
@qzhu2017

Yes. I'm working on this npy files right now. I just want to record what's wrong with the previous version for future reference (if needed).

I'm not quite done yet. But, here is a minor issue:
The npy file requires all arrays to be the shape. Else, we will encounter slow loading (just like shelve). To remedy this, I have to create the same size for all arrays with respect to `max atoms

[2020-06-01 22:10] qzhu2017 commented on #15
@yanxon If that is the case, can you just resort the structures by the number of atoms? When you split them into different batches, make sure that the structures with the similar sizes are assigned to the same batch.

[2020-06-03 17:28] yanxon commented on #15
@qzhu2017 @David-Zagaceta

I truly believe the memory-consuming part about mini-batch comes from the Initial state:
https://github.com/qzhu2017/PyXtal_FF/blob/95c1e2812124324903aa4dc1df82fc680805984b/pyxtal_ff/models/neuralnetwork.py#L235-L248

The Initial state basically tells you the current MAE values with no parameters update. I did this to ensure that if you want to pick up the training for m

[2020-06-04 01:31] #17 closed

[2020-06-05 02:28] qzhu2017 commented on #15
@yanxon Any updates here?

[2020-06-05 18:44] yanxon commented on #15
@qzhu2017

It seems like NPY is troublesome if you want to scale the calculation.

Here is what happened to me:
First, I ran SiO2 calculation with NPY with batch_size of 50. According to my rough counting of time, each calculate loss would take ~2-3 seconds. Then, I ran with shelve in parallel with exactly the same setup to measure the time. The calculation with NPY for each calculate loss took ~4

[2020-06-05 20:36] qzhu2017 commented on #15
@yanxon
Can you just decrease the number of npy files?  As I said, we don't really need that many npy files.

Please be efficient. I don't know why this takes such a long time.

[2020-06-05 22:37] yanxon commented on #15
@qzhu2017

New benchmark:
[code]

[2020-06-06 01:33] yanxon commented on #15
@qzhu2017

I mentioned that the NN code will open all of the NPY files only once. The timing is even worse than using `deepcopy`. As batch_size increases, the calculation becomes slower. I don't exactly know why. The einsum took the most effort here, which I don't know exactly why.
[code]

[2020-06-06 05:16] qzhu2017 commented on #15
@yanxon Just to be clear, I suggest the following
1, Do not create too many npy files. Ideally, Let’s just keep the following
- Atom based properties, forces, atom types
- structure based properties, energy
- dxdr
- rdxdr
I think we just need 4 npy files for each bundle

2, Get rid of the data loader. Say if we have 10000 structures and the bundle is 1000, we will have 10 bundles. When the batch s

[2020-06-07 04:44] qzhu2017 commented on #15
@yanxon Actually, I think your memmap version is not bad. It seems to be somehow random. However, the average time for each epoch is about 80-90 seconds if you continue the simulation.

[2020-06-07 06:31] yanxon commented on #15
@qzhu2017

Shall we just proceed to memmap? I will finish the entire code with memmap.

[2020-06-07 06:42] qzhu2017 commented on #15
@yanxon Hold on. I am running some benchmarks now. It seems that the shelve version is comparable to memmap. I tried to continue the training. Sometimes, it seems to be even faster.

On cms,
## 10,000 SiO2 data set (adam, memory out)
### Shelve
peak memory usage: / ~5%
training time (5 epochs): 846s/630s/395s

### memmap
peak memory usage: / ~1%
training time (5 epochs): 600s/450s/455s

Change the

[2020-06-11 06:28] qzhu2017 opened #19 "Limitations: large memory and disk spaces are needed for large structures"
@yanxon
@David-Zagaceta

At the moment, we store dxdr as a 4D array of [N, N, l, 3]
- N: number of atoms
- l: number of descriptors
- 3: x, y, z directions

This is convenient for matrix calculation.
However, the size of dxdr grows as N^2 relation, which is not suitable for large structures containing over 100 atoms.
It is probably better to convert the array as two arrays,
- [M, L, 3],
- [M, 2],

[2020-06-12 18:50] qzhu2017 commented on #19
## from each descriptor computation, it returns
for each structure:
- x: [N, l]
- seq: [N1, 2], each seq has [i, j], I is the centered atom, j is the neighbour
- dxdr: [N1, l, 3]
- rdxdr: [N1, l, 3, 3]

## pyxtal_ff/utilities/__init__.py
[ ] need to update the way to compress rdxdr, still ->[N, l, 6]

## pyxtal_ff/models/neuralnetwork.py
- [ ] update the way to extract x, dxdr, rdxdr and seq
- [ ]

[2020-06-14 04:26] qzhu2017 commented on #19
@David-Zagaceta
@yanxon
Please use the `dxdr-3D` branch if you work on this issue.

[2020-06-20 22:02] yanxon commented on #19
@qzhu2017 @David-Zagaceta

I found out that the neighboring indices do not include the i-th atom:
https://github.com/qzhu2017/PyXtal_FF/blob/01308d917750a78e0ebf09eab2e424462b624715/pyxtal_ff/descriptors/behlerparrinello.py#L137
Let's say `i=0`, in indices will not contain `0`.

Perhaps, this is not necessary:
https://github.com/qzhu2017/PyXtal_FF/blob/01308d917750a78e0ebf09eab2e424462b624715/pyxt

[2020-06-20 23:40] qzhu2017 commented on #19
Are you sure? This means that the neighbor list is incorrect. If Rc is
large or the cell is small, such i-i pairs should exist?
Can you double check that?

On Sat, Jun 20, 2020 at 3:02 PM Howard Yanxon <notifications@github.com>
wrote:

--

*Qiang Zhu, **Assistant Professor*
*4505 S. Maryland Parkway,*
*Room 232, Department of Physics and Astronomy,*
*University of Nevada Las Vegas*
*NV 89154-4002

[2020-06-20 23:48] qzhu2017 commented on #19
I just quickly setup a test, here I am a bit worried about the `self_interaction` flag when ASE computes the neighbor list. It seems that `self_interaction` = False returns the correct results.

**It is possible to form the i-i pair.**
[code]

[2020-06-21 00:15] David-Zagaceta commented on #19
@qzhu2017

For the case of bispectrum and SOAP self interaction is needed to reproduce
the same neighborlist as pymatgen.  Is this different for G4 or something?

On Sat, Jun 20, 2020 at 4:48 PM Qiang Zhu <notifications@github.com> wrote:

[2020-06-21 00:25] yanxon commented on #19
@qzhu2017 @David-Zagaceta

I took it back. If I do big Rc. I will get self interaction.

[2020-06-21 00:31] qzhu2017 commented on #19
You can try to run my code. If I added self_interaction=True,
atom 0 with have 8 neighbors with atom 0,

If self_interaction=False, there will be 6 neighbors, **which makes sense**.

self_interaction has somewhat different meaning. In our case, we just use self_interaction=False. Btw, I thought it was you who figured out how to let ASE compute the neighbor list.

[2020-06-21 00:34] yanxon commented on #19
@qzhu2017 @David-Zagaceta

Everything should be fine now as it is. I misinterpreted the ASE results. We always had `self_interaction=False` implemented from the beginning.

I'm sorry, guys.

[2020-06-22 01:48] yanxon commented on #19
@qzhu2017

I checked the `Poly.py`. Apparently, `G4` is not correct. EAMD and G2 give consistent result for PR when it was tested with Si data set. These consistencies apply to linear and quadratic regressions.

Now, I'm testing it with Ni-Mo dataset with EAMD as descriptors I get a tiny difference. This is the result for **3D-dxdr/4D-dxdr**
[code]

I think this is just numerical error.

[2020-06-22 04:00] qzhu2017 commented on #19
@yanxon
The results look good. However, I am not convinced that this is due to numerical error. Probably, something is still missing.

[2020-06-22 05:20] qzhu2017 commented on #19
@yanxon I just tried SiO2 with bp (both G2 and G4) for linear regression

## 3D
[code]
##4D
[code]
The results are consistent

[2020-06-22 05:40] qzhu2017 commented on #19
@yanxon
I believe your eamd.py has some bug. After the recent commit you run the following in the **3d-dxdr** branch
[code]
[code]

The results on Gprime are actually inconsistent.

[2020-06-22 13:09] yanxon commented on #19
@qzhu2017

What is the Rc here? The results are consistent up to the 5th row. If you expand the row for 3d-dxdr, would it work?

[2020-06-22 13:45] yanxon commented on #19
@qzhu2017

I know where it is wrong. The old eamd is incorrect in my opinion. I didn't impose `i = j` to be zero here
https://github.com/qzhu2017/PyXtal_FF/blob/0e414f7c002126ed41c41ba661e378394327a622/pyxtal_ff/descriptors/old-eamd.py#L313-L340

Once you add
[code]

The result should be consistent with the **new_eamd**.

[2020-06-22 15:09] qzhu2017 commented on #19
@yanxon
Okay, the results are consistent for both Si and SiO2.

[2020-06-22 15:16] yanxon commented on #19
@qzhu2017

I also uploaded a script to compare new and old EAMD. They should be equivalent now after I fix the old_EAMD.

https://github.com/qzhu2017/PyXtal_FF/blob/dxdr-3D/pyxtal_ff/descriptors/compare_eamd.py

[2020-06-22 17:39] yanxon commented on #19
@qzhu2017 @David-Zagaceta

I found something kinda weird. When I use multiple cpu to calculate EAMD for Ni-Mo dataset, the LR results change by a little bit. The only difference here is due to **error** in writing in the shelve database. However, I thought this is taken care of by:
https://github.com/qzhu2017/PyXtal_FF/blob/01308d917750a78e0ebf09eab2e424462b624715/pyxtal_ff/utilities/__init__.py#L

[2020-06-25 01:18] qzhu2017 commented on #19
@David-Zagaceta

I just tried the linear regression for SOAP.

## For the master branch code.
[code]

## For the 3D-dxdr branch code.
[code]
There must be something wrong.

[2020-06-25 01:35] qzhu2017 commented on #19
@David-Zagaceta
I just added some debug scripts to SOAP.py. if you run the code, you will find the following dxdr values
[code]

They correspond to the following array
[code]

I don't think we will have the zero dxdr array for [1,0], [1,1], [1,2]

[2020-06-25 01:49] qzhu2017 opened #20 "May not pick the correct failed structure"
@qzhu2017 @David-Zagaceta

I found something kinda weird. When I use multiple cpu to calculate EAMD for Ni-Mo dataset, the LR results change by a little bit. The only difference here is due to **error** in writing in the shelve database. However, I thought this is taken care of by:
https://github.com/qzhu2017/PyXtal_FF/blob/01308d917750a78e0ebf09eab2e424462b624715/pyxtal_ff/utilities/__init__.py#L

[2020-06-25 04:05] David-Zagaceta commented on #19
@qzhu2017  I did some testing with the original SOAP.  Those parts of the
DXDR array are definitely zero.  The difference must come from somewhere
else.  I will do another thorough check.

On Wed, Jun 24, 2020 at 6:35 PM Qiang Zhu <notifications@github.com> wrote:

[2020-06-25 04:16] qzhu2017 commented on #19
@David-Zagaceta We only store nonzero array.

[2020-06-25 04:19] David-Zagaceta commented on #19
l=0 n = 1 is non zero, the portion of the array you're looking at is the
l=1 n =1 array.  That is zero

On Wed, Jun 24, 2020 at 9:16 PM Qiang Zhu <notifications@github.com> wrote:

[2020-06-25 04:20] David-Zagaceta commented on #19
@qzhu2017

l=0 n = 1 is non zero, the portion of the array you're looking at is the
l=1 n =1 array.  That is zero

On Wed, Jun 24, 2020 at 9:19 PM David Zagaceta <zagaceta@unlv.nevada.edu>
wrote:

[2020-06-25 04:57] David-Zagaceta commented on #19
@qzhu2017 I have finished meticulously checking the x, dxdr, and rdxdr values again for SOAP.  Everything is a 100% match with the 4-D case.  Any suggestions to go from here?

[2020-06-25 05:51] qzhu2017 commented on #19
@David-Zagaceta Check my latest commit and run the following
$ python pyxtal_ff/descriptors/SOAP.py -r 3.0 -c pyxtal_ff/datasets/POSCARs/Si60.vasp
[code]
[code]
**The results only differ at the first row of the output.**

[2020-06-25 23:08] qzhu2017 commented on #19
@David-Zagaceta Have you figured out what's wrong in the SOAP.py?

[2020-06-25 23:10] David-Zagaceta commented on #19
@qzhu2017 For some reason theres an issue with the center atom update for
only the center atom 0.  It seems that the computation is terminating early
here.  I'm figuring out why right now.

On Thu, Jun 25, 2020 at 4:08 PM Qiang Zhu <notifications@github.com> wrote:

[2020-06-26 00:05] David-Zagaceta commented on #19
@qzhu2017 I believe I have fixed the error.  There was a small sequencing error that only occurred in structures where the first non zero element of the next center atom was [i,i].  Could you try the regression again?

[2020-06-26 00:19] qzhu2017 commented on #19
Yes, both so3 and so4 work now.

[2020-07-05 00:50] qzhu2017 opened #21 "To check the MD function in the ASE calculator"
This function has not been checked yet.

[2020-07-07 03:09] qzhu2017 opened #22 "GPU version based on the big array"
@yanxon
Here is a short summary regarding our discussion today.
elements = ["Si", "O"]
-struc1, SiO2
x: [N1, L]                    + x[N2, L]         -> [N1+N2, L]
rdxdr: [N1, L, 6]
map-x: [N1, 2]           + map_x[N2, 2].  -> [N1+N2, 2]
[0,0,0,0,..........; -> structure id
 0,0,0,1,1,1,1,1,; ->  type_id,
 4,4, ...............-> NN
]

"""PyXtal_FF/pyxtal_ff/utilities/__init__.py"""

## database:
x

[2020-07-08 04:05] qzhu2017 commented on #22
@yanxon
I think most of them can be also merged to the CPU version. The only issue is that we may need to do several einsums for the force calculation if we do the full batch.

I suggest you implement this in the 3d-dxdr branch. I just updated this to the master branch.

[2020-07-08 04:11] qzhu2017 commented on #21
In ASE, the MD simulation is constant. The majority of time will be spent on computing the descriptors.

[2020-07-08 05:15] #19 closed

[2020-07-08 05:16] #21 closed

[2020-07-08 05:16] #16 closed

[2020-07-08 21:40] yanxon commented on #22
@qzhu2017

To make life easier, I believe we need to add another column on `dxdr_map` for structure identification. For example, let's assume we have 2 structures. Structure 1 and 2 have 2 atoms each. While assuming we cover enough Rc, `dxdr_map` becomes:
[code]
The first column identifies the structure, second column is the i-th pair, and third column is the j-th pair.

[2020-07-16 06:46] qzhu2017 commented on #22
@yanxon Please put your thoughts regarding one einsum to compute the force here.

[2020-07-16 23:46] yanxon commented on #22
@qzhu2017

Sorry, I thought about it more, one einsum to compute force won't work because it's very memory consuming.

Here is my thought regarding one einsum to compute force:
[code]

This means that we also compute dEdX_dXdR for structure N1 and N2_ij, which is not necessary.

Although I'm sure this will work, we compute unnecessary stuffs. I believe the original multiple einsum for loop works b

[2020-07-17 00:25] qzhu2017 commented on #22
Maybe there is a clever way to change
dEdX from the size [N1+N2..., L] -> [N1_ij+N2_ij..., L]
Then you do
dEdX_dXdR = torch.einsum('ij,ijk->ijk', dEdX, dXdR). #[N1_ij+N2_ij..., L, 3]
Now you change it to [N1+N2..., L, 3], and then [N1+N2..., 3]
I can tell you more details.

[2020-07-17 01:36] yanxon commented on #22
@qzhu2017

This is inspiring!
I think this will work, we will just broadcast the same dEdX correspondingly since we have `dxdr_map`.

[2020-07-19 07:22] yanxon commented on #22
@qzhu2017 @David-Zagaceta

Issue in indexing/slicing in torch tensor:
https://github.com/pytorch/pytorch/issues/29973

[2020-07-22 06:52] yanxon commented on #22
@qzhu2017

It seems like I can't make one einsum for force working.

Here is a simplified code. Let's say we have 2 structures (3 atoms and 2 atoms each) with 5 descriptors. Hence, we have `x.shape = [5, 5]`
[code]

This will give error as such:
```RuntimeError: One of the differentiated Tensors appears to not have been used in the graph. Set allow_unused=True if this is the desired behavior.```

[2020-09-11 17:16] qzhu2017 opened #23 "SOAP to compute the descriptor for one atom only"
@David-Zagaceta

Support we have a structure with 4 atoms, the default descriptor calculation returns the descriptor for all atoms in the unit cell. Can you enable the option to compute the descriptors for the selected center atoms only.

For instance
calculate(structure, ids=[0,1])
This means that we want to compute the descriptors for only atom 0 and 1.

[2020-09-11 17:18] qzhu2017 commented on #23
@yanxon The above will be also applied to ACSF and EAMD.

[2020-09-11 17:19] qzhu2017 commented on #23
calculate(structure, ids=[0,1])
By default, ids=None which means to compute the descriptor for all atoms.
Otherwise, ids should be a list of integers, which allows one to compute the descriptors for the selected atoms only.

[2020-09-11 21:21] David-Zagaceta commented on #23
id's corresponds to indices not types right?

On Fri, Sep 11, 2020 at 10:20 AM Qiang Zhu <notifications@github.com> wrote:

[2020-09-11 21:43] qzhu2017 commented on #23
Yes. That’s right

On Fri, Sep 11, 2020 at 2:21 PM David Zagaceta <notifications@github.com>
wrote:

[image: Photograph] <http://www.skarif2.io/>
*Qiang Zhu *Assistant Professor
*University of Nevada Las Vegas *• Physics and Astronomy
Phone ⋅ +1 702 895 1710
Email ⋅ qiang.zhu@unlv.edu
Address ⋅ BPB 232, 4505 S. Maryland Parkway
<https://www.google.com/maps/place/Robert+L.+Bigelow+Physics,+Las+Vega

[2020-09-12 00:11] qzhu2017 commented on #23
@David-Zagaceta
@yanxon

I have solved this issue.

[2020-09-12 00:11] #23 closed

[2020-09-12 00:31] qzhu2017 opened #24 "To enable small sample training for GPR"
@yanxon
This will be the next todo list.

[2020-09-15 16:11] qzhu2017 commented on #23
Currently, it can only compute the descriptor for the 1st atom. But this should be fine.

[2020-09-21 03:17] qzhu2017 opened #25 "Add RDF to the descriptor for the purpose of quick test"
Should be easy from ASE itself.

[2020-09-21 03:17] qzhu2017 opened #26 "Add str() for all descriptor classes"
to increase the readability

[2020-10-01 05:19] qzhu2017 opened #27 "Cutoff functions"
@yanxon

You need to make sure that the newly added cutoff functions (2255b55eaecc39426b76c9c651d1ed4170f21fa5) can be called in someway.
Also, please update the documentation in the following places

https://pyxtal-ff.readthedocs.io/en/latest/_rsts/links/_background.html#atomic-descriptors
https://pyxtal-ff.readthedocs.io/en/latest/_rsts/links/_quickstart.html

This will be one of the improvement

[2020-10-02 22:42] yanxon commented on #27
@qzhu2017

Now the cutoff function can be called in this fashion:
[code]

[2020-10-13 16:47] yanxon opened #28 ".traj format doesn't work"
From Fuzhu (Xi'an Jiaotong University):

But I have written a function to read my .traj file, that already works. If you try to run my python scripts, you should update the __init__.py file (see the attachment) in the path of "lib/python3.8/site-packages/pyxtal_ff/utilies/__init__.py". This will not influence the reading of other file types (json, xyz, vasp-out). I just added a new format (.traj).

[2020-10-13 17:35] #27 closed

[2020-10-13 17:36] qzhu2017 opened #29 "add save_dict and load_from_dict methods for all descriptor classes"
This way we can easily load the parameters for the descriptor calculations

[2020-10-13 17:39] qzhu2017 commented on #28
@yanxon
can you add the `parse_traj` to our code?

[2020-10-13 17:53] yanxon opened #30 "SO4 issue"
@David-Zagaceta

I found this error while using the SO4 descriptor. I believe `try/except` can't be used in `nopython` mode.

[2020-10-13 17:56] David-Zagaceta commented on #30
@yanxon can you provide up the error message and code to reproduce the error?

[2020-10-13 18:00] yanxon commented on #30
@David-Zagaceta

You can use this script: https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/UCSD-Si-214-25/so4-NN.py

The error is the following:
[code]

[2020-10-13 18:03] yanxon commented on #28
@qzhu2017

`parse_traj` has been added in 3e07645062adccddfbc46950ff0d52f6f7bbdc2e.

[2020-10-13 20:17] #28 closed

[2020-10-13 20:57] David-Zagaceta commented on #30
@yanxon You may need to update numba, I am encountering no issues.

[2020-10-13 21:40] yanxon commented on #30
@David-Zagaceta

Yes. You're right. It seems like numba 0.44 is depreciated. I believe @qzhu2017 had fix this too in e00a053c696f755529bededdd9b7a00f7931d221.

I'm going to close this issue.

[2020-10-13 21:40] #30 closed

[2020-10-14 00:18] FuzhuLiu commented on #28
@yanxon yes, I see, thanks.

[2020-10-14 01:10] #26 closed

[2020-10-14 01:13] #29 closed

[2020-10-22 17:28] #14 closed

[2020-10-22 17:30] qzhu2017 opened #31 "SNAP/LAMMPS interface (v0.1.5)"
@David-Zagaceta @yanxon
We need to think about this after we get the current work done.

[2020-10-23 16:31] qzhu2017 opened #32 "Update the optimization script"
Will rewrite the script according to the ASE function.

[2020-10-23 19:47] #32 closed

[2021-01-09 00:02] qzhu2017 opened #33 "C version of SO3 and LAMMPS interface (v0.1.8)"
@David-Zagaceta @macstein
I don't think the openmp mechanism is really working, when I tried to run SO3.py with different  `OMP_NUM_THREADS` values, the time does not really change. Anyway, we will write it in C and implement the MPI mechanism.

[code]

[2021-02-03 19:56] #24 closed

[2021-02-03 20:39] qzhu2017 opened #34 "Debug the SNAP option"
- [x] added a test dxdr function to SNAP
- [x] make sure that dxdr is consistent with the numerical derivatives.
The problem is due to mis-accumulation of dxdr when i==j

[2021-02-03 21:30] yanxon commented on #34
@qzhu2017 @David-Zagaceta
It seems like test function for SNAP is working properly.

[2021-02-03 21:32] qzhu2017 commented on #34
@David-Zagaceta @yanxon
Let's discuss this in our afternoon meeting. Would you like to start the meeting earlier (e.g 2:30)?

[2021-02-03 21:33] yanxon commented on #34
@qzhu2017
2:30 should be ok.

[2021-02-03 22:00] David-Zagaceta commented on #34
@qzhu2017 2:30 works for me

[2021-02-03 22:33] qzhu2017 commented on #34
@David-Zagaceta @yanxon
https://unlv.webex.com/unlv-en/j.php?MTID=mbc45b5b6f55603de79005fba8536d41f

[2021-02-04 05:59] qzhu2017 opened #35 "v0.1.4 release"
- [x] fix the bug of accumulating dxdr when the self-interaction is included
- [x] enable SNAP option
- [x] dump NN and PR weights into textfiles.

[2021-02-04 06:00] qzhu2017 commented on #31
Let's do SNAP first, and then SO3

[2021-02-05 00:07] yanxon commented on #34
@qzhu2017 @David-Zagaceta
I just fixed `SNAP.py` (32e25b1b399843d22b912488e725839e6541b077). This is consistent with LAMMPS output now.

@David-Zagaceta, do you think you should do the same with `SO4` and `SO3`?

[2021-02-05 16:17] qzhu2017 commented on #34
@David-Zagaceta I believe this needs to be fixed in both SO4 and SO3. Please let me know when you fix them.

[2021-02-08 03:38] #35 closed

[2021-02-08 03:39] #34 closed

[2021-02-08 03:45] qzhu2017 commented on #31
@yanxon
We need to write some documentation when this function is ready. I am thinking about the following
- [ ] how to obtain the source code and compile the MLIAP package
- [ ] An example to run the code (Geometry optimization/MD)
- [ ] An example of using the lammps calculator from python/ase

[2021-02-08 03:46] #20 closed

[2021-03-01 23:26] qzhu2017 commented on #31
@yanxon

I am trying to create an example as described above (see [here](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-SNAP-NN-LAMMPS)). Can you help to complete it?  I foresee several issues here.
- [ ] After I complete the run of `python snap_train.py`, the output folder has too many files.
[code]
Do we really need the **txt, dir, bak file**? Maybe we can clean up some unnecessar

[2021-03-02 18:38] yanxon commented on #31
@qzhu2017

- The dir, bak, and dat files are from shelves. The re-training won't work if we delete one of these files. If we delete one of them, we need to recalculate the descriptors.

- The txt files are useful for visualization if needed. One may need to detect outliers. Perhaps, we can dump these into a separate folder.

- You should pick `SNAP` for the descriptor in [snap_train.py](https://gi

[2021-03-02 19:21] yanxon commented on #31
@qzhu2017

Here is my `Si-snap` folder:
[code]

We need two files: `DescriptorParams.txt` and `NN_weights.txt`.

[2021-03-03 01:21] yanxon commented on #31
@qzhu2017

I have fixed this in 3c394569f04bb6db07aa0254be1eb0bb92e75951.
Here, I also have `in.md` file running NPT simulation.

Can you please run it if it works on your side?

Also, what do you mean by running LAMMPS with Python Wrapper? Is this similar to the FF_benchmark repo?

If it's the case, I can prepare some Jupyter notebooks for this.

[2021-03-04 01:54] qzhu2017 commented on #33
- [ ] An example of using the lammps calculator from python/ase

[2021-03-04 02:08] #31 closed

[2021-03-04 05:38] #22 closed

[2021-03-09 05:49] qzhu2017 commented on #33
@yanxon @macstein
Can you check this [example](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-NN-LAMMPS)? See if it works on your environment.

If yes, please use this as a template to test SO3-NN. I am curious about the speed of SO3 in LAMMPS.

[2021-03-09 06:06] qzhu2017 commented on #33
@macstein @pedroantoniosantosf @yanxon
I think you can start to upload your code to this directory. I suggest we name the package name as `USER-PYXTAL`. Under this umbrella, we can gradually implement new descriptors.

In the meantime, we will maintain the MLIAP package to make sure that the NN regression works.

[2021-03-09 06:51] qzhu2017 opened #36 "Wigner Coeffs"
@macstein
lammps use a running folder as current folder. For example, if I run "../../src/lmp_serial < in.Mo" in "../exmaples/mliap" folder, "../examples/mliap" is current folder. So I have to leave "Wigner_coefficients.dat" in the "../exmaples/mliap" folder (current folder).
In this case, a user should keep "Wigner_coefficients.dat" in their running folder.
Now, I don't find any solution to resol

[2021-03-09 07:19] macstein commented on #33
@qzhu2017
I got this error.
[code]
I think I don't have permission to access the repository.

[2021-03-09 07:24] qzhu2017 commented on #33
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/29445366/110433558-7224d200-8065-11eb-8bc1-1c5fa94e7222.png">
You need to accept the invitation first.

[2021-03-09 07:27] macstein commented on #33
With minor modifying in "compute_mliap.cpp" and "pair_mliap.cpp", the example works in my current so3 developing environment.
I will wait SO3-NN data from @yanxon

[2021-03-09 07:34] macstein commented on #33
@qzhu2017 Can you send me the invitation again? It looks expired.

[2021-03-09 15:35] qzhu2017 commented on #36
Sounds good. It is better to avoid some extra files

[2021-03-09 20:43] qzhu2017 commented on #33
@macstein @yanxon
I just trained SO3-NN for the silicon and uploaded the results to https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-NN-LAMMPS/Si-so3.
If you modify `PyXtal_FF/examples/Si-NN-LAMMPS/validate.py` as follows

[code]

You should be able to run `validate.py` and check if the results are consistent.

[2021-03-10 05:46] qzhu2017 commented on #33
@macstein
Can you check if the above script work for you?

[2021-03-10 07:14] qzhu2017 commented on #33
You need to follow the instruction in the README.md to install lammps and
its python wrapper.

On Tue, Mar 9, 2021 at 11:12 PM macstein <notifications@github.com> wrote:

--
[image: Photograph] <http://www.skarif2.io/>
*Qiang Zhu *Assistant Professor
*University of Nevada Las Vegas *• Physics and Astronomy
Phone ⋅ +1 702 895 1710
Email ⋅ qiang.zhu@unlv.edu
Address ⋅ BPB 232, 4505 S. Maryland Parkw

[2021-03-10 07:59] macstein commented on #33
Installed pyxtal-ff following:
https://pyxtal-ff.readthedocs.io/en/latest/_rsts/links/_installation.html
Installed lammps and python wrapper following:
https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/Si-NN-LAMMPS/README.md

I got an error.
[code]
Do I need to install utils separately from package installation?

[2021-03-10 08:06] qzhu2017 commented on #33
https://github.com/qzhu2017/PyXtal_FF/blob/3ed5c6307c6721454e9f79db47657c411e897286/pyxtal_ff/descriptors/angular_momentum.py#L6

@macstein It looks like that you changed the file as shown above.

[2021-03-10 08:10] macstein commented on #33
By the way, should be?
[code]

[2021-03-10 09:17] macstein commented on #33
For ideal structure
I got
[code]
validate.py
[code]

For distorted structure,
I got
[code]
validate.py
[code]

[2021-03-10 16:17] qzhu2017 commented on #33
@macstein
@yanxon
Are you able to install the lammps and its python wrapper?

[2021-03-10 16:30] macstein commented on #33
@qzhu2017
I did install the lammps (serial) and its python wrapper. I could get part of result (by validate.py) in above https://github.com/qzhu2017/PyXtal_FF/issues/33#issuecomment-795133805 by installing them.

[2021-03-11 01:04] qzhu2017 commented on #36
@macstein

@David-Zagaceta just make a commit to compute the coefficient on the fly. You can do the same thing in the cpp code. It should be some easy change.

[2021-03-11 06:19] qzhu2017 opened #37 "Atomic ordering in lammps-NN"
@yanxon
I just created another example for [binary system](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/SiO2-LAMMPS)

It closely followed what we did for Si. However, the `validate.py` does not work.
[code]

In the [debug](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/SiO2-LAMMPS/debug) folder,

I added the script to check the descriptor output from pyxtal_ff and lammps.

[2021-03-11 20:39] qzhu2017 commented on #37
@pedroantoniosantosf @yanxon
Can you check why the mliap_NN returns different results for total energy?

[2021-03-11 21:48] qzhu2017 commented on #37
I am debugging it now. For this quartz structure. Pyxtal_FF output the following energy
[code]
While lammps outputs
[code]

[2021-03-11 22:26] pedroantoniosantosf commented on #37
It seems that the weight parameters are the same for Si and O. Let me check with other file.

[2021-03-11 22:42] pedroantoniosantosf commented on #37
With the current [binary system](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/SiO2-LAMMPS/SiO2-snap)
I got this result:

[code]

[2021-03-11 23:08] yanxon commented on #37
I don't think this is the case. I changed the `lt_quartz.data` to all `O`:
[code]

Results:
[code]

Whereas, I change all atoms to `Si`:
[code]

[2021-03-11 23:51] qzhu2017 commented on #37
https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/SiO2-LAMMPS/SiO2-snap/NN_weights.txt
[code]

[code]

@pedroantoniosantosf @yanxon they are the same.

@yanxon Can you double check if you did something wrong when dumping the weight parameters?

[2021-03-12 00:28] yanxon commented on #37
@qzhu2017 @pedroantoniosantosf

Yes. I messed up. Please give me half an hour to fix this.

[2021-03-12 00:35] yanxon commented on #37
@qzhu2017

Can you please try it again?

[2021-03-12 01:04] qzhu2017 commented on #37
@yanxon
@pedroantoniosantosf
I just made a couple of changes based on @yanxon 's fix. Now it works. Nothing wrong on mliap-nn

[code]

[2021-03-12 01:25] qzhu2017 commented on #37
Now fully resolved after 96b83ac

[2021-03-12 01:25] #37 closed

[2021-03-12 02:44] yanxon commented on #33
I tried this several times actually. I always got errors.

Then, I decided to delete all of LAMMPS, including the path in my `~/.bashrc`. Now, I can run the `validate.py`:
[code]

[2021-03-12 04:09] qzhu2017 commented on #33
@yanxon
Great, did you use Pedro's repo or Lammps's master repo?

I have no problem with Pedro's repo.
For the lammps master repo, I can do `make mpi`. However, I failed in `make mpi mode=shlib`.
[code]
Are you encountering the same thing?

[2021-03-12 04:16] yanxon commented on #33
@qzhu2017

I used LAMMPS's master repo.

I believe I had the same issue. I'm not sure why and couldn't fix the issue.

Eventually, I just got rid of all of my LAMMPS version, and redo the path in `~/.bashrc`. This solves the issue.

[2021-03-16 16:28] macstein commented on #36
@qzhu2017 I implemented computing the coefficient code in the cpp code and tested.

[2021-03-17 05:47] #36 closed

[2021-03-18 03:32] qzhu2017 opened #38 "Rewrite the spherical harmonics in recursive relation"

[2021-03-18 03:36] qzhu2017 opened #39 "Add the cutoff function to SO3"
@David-Zagaceta
@macstein

Currently, the SO3 suffers from the numerical instability when the distances are right at the cutoff. To fix it, we can add a cutoff function to force the decay of descriptor.

Let's try it after the work on SPH.

[2021-03-22 16:05] qzhu2017 commented on #38
@David-Zagaceta How is it going? Can you report your progress here?

[2021-03-23 00:34] David-Zagaceta commented on #38
Debugging some indexing, should be done tonight.

On Mon, Mar 22, 2021 at 9:05 AM Qiang Zhu ***@***.***> wrote:

[2021-03-25 04:38] macstein commented on #38
@David-Zagaceta
Can you update 'instruction' here?
I think what I need to do are:
-Add block to populate idxu_block and idxylm.
-convert init_rootpqarray and compute_uarray_recursive python function into c function.
-Add compute_uarray_recursive in compute_carray and compute_carray_wD.
-Also modify compute_carray and compute_carray_wD c functions regarding the python functions.

You mentioned SNAP

[2021-03-26 03:38] qzhu2017 commented on #38
@David-Zagaceta Can you reply to @macstein asap. We need to hurry up with this project.

[2021-03-26 05:11] David-Zagaceta commented on #38
@macstein

I am currently writing compute_uarray in C++ (using lammps implementation) using the correct quaternion for the spherical harmonics.  This also includes rootpq array.
I will write the code to initialize the uarray, idxu_block, ixylm, and populate these arrays.

Once I give you those files, you can implement them into compute_carray

[2021-03-26 05:34] macstein commented on #38
@David-Zagaceta
Currently, I almost rewrote your new SO3.py into lammps C++, and I am testing.
The converted compute_uarray_recursive is here:
[code]
In my opinion, for efficient working on this project, I believe I can quickly convert your python into c++ as long as you provide python code and brief instruction. We don't need to duplicate works.

Are you going to change "compute_uarray" dramatica

[2021-03-26 05:47] qzhu2017 commented on #38
@David-Zagaceta @macstein
I agree. There is no need write the code twice. If necessary, I can organize a meeting tomorrow to clarify some concerns.

[2021-03-26 05:55] macstein commented on #38
@David-Zagaceta @qzhu2017
I think I can upload the first version (not optimized to speed up) tonight.
On top of @David-Zagaceta concerns,  I also need to discuss about looks bug
[code]
When I remove conjugate, it produce correct forces.
Let me know the meeting time tomorrow.

[2021-03-26 06:37] David-Zagaceta commented on #38
Oh yeah I did hard code the conjugate in there.

[2021-03-26 06:37] David-Zagaceta commented on #38
and no I wasn't going to change it dramatically

[2021-03-26 16:25] macstein commented on #38
@qzhu2017 @David-Zagaceta
I uploaded new spherical harmonics version in https://github.com/qzhu2017/PyXtal_FF_LAMMPS/tree/main/MLIAP_SO3_v3
Can we have a meeting?

[2021-03-26 16:49] qzhu2017 commented on #38
@David-Zagaceta @macstein
How about we meet at 11 this morning? If you agree on the time, I will send an invitation shortly

[2021-03-26 16:52] macstein commented on #38
@qzhu2017 @David-Zagaceta It works for me.

[2021-03-27 11:17] David-Zagaceta commented on #38
@macstein
The precomputation of the integrand has been added.  See the functions init_garray, as well as the changes to compute_c_array, compute_c_arrayWD, get_radial_inner_product, and integrand.

[2021-03-27 18:14] macstein commented on #38
@qzhu2017 @David-Zagaceta
This reduced the computing time!
For the record of time profiling,
[code]
these loops for dxdr (without including array population and g_array precomputation) take ~7 sec. now. It was ~16 sec. before.

[2021-04-09 21:37] weilaigit commented on #33
I followed the instruction at https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/Si-LAMMPS/README.md.  However, I am still getting the following error when running lammps directly.  On the other hand, it worked when I commented so3 and uncommented snap.

ERROR: Illegal pair_style mliap command (../pair_mliap.cpp:174)
Last command: pair_style mliap model nn Si-so3/NN_weights.txt descriptor

[2021-04-09 21:42] qzhu2017 commented on #33
@weilaigit Thanks for your interest. The `SO3` descriptor is not ready yet. We are about to finalize it in a couple of weeks.

You are right the SNAP should work well. Please let me know if you need any help on that.

[2021-04-10 19:27] weilaigit commented on #33
@qzhu2017 Thanks for the information on SO3.  Looking forward to it.

Regarding the SNAP in Pyxtal_ff, I do have a question.  I will start a new issue.

[2021-04-14 21:26] macstein commented on #39
@qzhu2017
I am ready to test cutoff function in lammps SO3 C++. Descriptors are agree with @David-Zagaceta 's new so3.py. I need to check dxdr. Can I have a trained data (coefficient) and results (energy, forces) for Si or Ni_Mo using @David-Zagaceta 's new so3.py?

Fortunately, in my test, adding radial cutoff functions to current lammps SO3 c++ does not slow down the speed. For 8000 Si atoms and

[2021-04-15 16:00] qzhu2017 commented on #39
@macstein
Let's do it after @David-Zagaceta implemented the new way to compute SO3.

[2021-04-17 02:33] qzhu2017 opened #40 "add zbl prior to the training"
@yanxon
Before we do the FF training, I think it will be useful to add a zbl
https://lammps.sandia.gov/doc/pair_zbl.html

or LJ
https://lammps.sandia.gov/doc/pair_gromacs.html

Without this term, MD simulation with long time scale will sometimes run into a trouble.

[2021-04-19 19:00] qzhu2017 opened #41 "output the atomic energy from ase calculator"
@yanxon I just did a minor change so that the calculator can output the atomic energies. I enabled it for NN, can you do the something for polynomial regression?
[code]

[2021-04-19 19:58] yanxon commented on #41
@qzhu2017

What do you mean by "do the something"?

[2021-04-19 20:05] qzhu2017 commented on #41
@yanxon
In the old code, this function returns the total energy as a scalar. Now I want it to output atomic energies as a 1D array. Please complete line 400-401 as shown above.

[2021-04-20 16:24] yanxon commented on #41
@qzhu2017
Thank you for the clarification. I changed the output from total energy to 1D array of atomic energies.

I also verify this with Ni-Mo dataset.
Previous results:
[code]

Current:
[code]

There are small differences in the results, but I think they are acceptable.

[2021-04-20 16:28] qzhu2017 commented on #41
Great, thanks

[2021-04-20 16:28] #41 closed

[2021-04-28 21:40] yanxon commented on #40
@qzhu2017

ZBL has been implemented (c0b389ca1932772eedefc6428a63ddb994020072). The user can easily turn on the ZBL contribution along with the descriptor parameters such as:
[code]
As long as the `base_potential` is recorded in PyXtal_FF, the output model (*.pth) will register the ZBL potential. Thus, the PyXtal_FF calculator will also calculate the ZBL contribution during the prediction.

[2021-05-05 17:33] macstein commented on #39
@David-Zagaceta
I am having inconsistent descriptor. Let me go with simple sample Mo _**without rcut function**_ first.
I am using Mo.poscar and lmax=3, nmax=3, rcut=3.5, and alpha=2.0
[code]
In SO3.c++, I set up compute_sfac and compute_dsfac to return 1.0 for all cases. Then I have below.
(1)
[code]
In previous SO3.py (before einsum, probably weeks ago),  I also set up compute_sfac and compute_d

[2021-05-05 22:20] David-Zagaceta commented on #39
@macstein I removed the cutoff function by setting sfac to 1.0 and dsfac to 0.0

[2021-05-05 22:21] David-Zagaceta commented on #39
Can you also give that file to me in POSCAR format?

[2021-05-05 22:25] macstein commented on #39
@David-Zagaceta
Here is the Mo.poscar
[code]

[2021-05-05 22:25] David-Zagaceta commented on #39
@macstein I got the file, I'm looking into differences now because I had same descriptor for a different structure.

[2021-05-05 22:29] David-Zagaceta commented on #39
@macstein Your weight is the atomic number of Mo here as well right?

[2021-05-05 22:33] macstein commented on #39
@David-Zagaceta Yes.

[2021-05-06 22:55] yanxon commented on #40
@qzhu2017

I have done implementing the ZBL. I am using this script to run NN training with ZBL potential:
[code]

Here is the result:
[code]
The results are slightly better than the [benchmark example](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-Python)

[2021-05-06 22:57] yanxon commented on #40
@qzhu2017

I will do the following next:
[] Add example for Si with ZBL potential activated
[] Train HEA

[2021-05-07 04:34] qzhu2017 commented on #39
@David-Zagaceta Have you figured out what the discrepancy comes from? We need to get it done asap.

[2021-05-07 04:43] qzhu2017 opened #42 "v0.1.7"
@yanxon include zbl into training #40
- [x] update the Si-Python example, SO3 is missing
- [x] create a script to systematically check the stress for the training data.
  conc: We are suspecting that there are misordering in the DFT stress dataset.
- [x] check if it works on silicon (with the SNAP descriptor) and update the example
- [x] run Silicon NPT-MD at high temperature with and without zbl

[2021-05-07 04:48] qzhu2017 commented on #33
Todo list

- [ ] New SO3.py
- [ ] Check if SO3.py returns the consistent results (several structures Si-diamond, BCC-Mo, some distortion)
- [ ] Check if SO3.py and LAMMPS code return the consistent results

[2021-05-08 00:48] #38 closed

[2021-05-08 00:57] qzhu2017 commented on #42
@yanxon While you are doing the training on HEA, please also complete the assignments above.

[2021-05-08 00:58] yanxon commented on #42
@qzhu2017
Of course, let me do the HEA since you need it more urgently.

[2021-05-10 18:54] yanxon opened #43 "PyXtal_FF stress predict the negative value of DFT stress"
PyXtal_FF stress is trained based on the negative value of the DFT stress:
https://github.com/qzhu2017/PyXtal_FF/blob/669c8a46b87d8b89686af8af2a14ba8b77d8bd6b/pyxtal_ff/utilities/__init__.py#L378

We need to fix the PyXtal_FF stress to predict the true DFT stress.

To fix this, we need to replace stress in two places:
1. descriptors, i.e. change this line to positive
https://github.com/qzhu2017/Py

[2021-05-10 19:05] yanxon commented on #43
@qzhu2017

This is probably why ASE calculator will predict the negative of the stress as well.

If you look at it here, PyXtal_FF stress has the opposite sign with LAMMPS stress:
https://github.com/qzhu2017/PyXtal_FF_LAMMPS/tree/main/Cu_snap/Cu_NN

Previously, we impose PyXtal_FF to predict the negative of DFT stress.

Now, I made the change here: 5908e9eecae69cae2cb0615c4fbebf08aed7f46a.

[2021-05-10 20:42] yanxon commented on #43
## Train with Si dataset.
[code]

## Scripts
Si.cif:
[code]

Si.lammps.struc:
[code]

lammps input file:
[code]

## Prediction Output

PyXtal_FF via ASE calculator:
[code]

LAMMPS output:
[code]

[2021-05-10 20:42] #43 closed

[2021-05-10 21:36] yanxon commented on #42
@qzhu2017

The test script is updated in 11b36dd34b6534df622ced0aac2216bdd8f1733f.

[2021-05-11 05:43] qzhu2017 commented on #40
@yanxon
I updated the example with [Si-Lammps](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-LAMMPS). It runs fine. The results are consistent. However, the pyxtal_FF calculator takes a much longer time after including zbl. To run 1000 si atoms, it is about 77s per MD step.
[code]

However, it was 13 second per MD step without zbl. Can you please check if there is a simple way to s

[2021-05-11 16:21] yanxon opened #44 "Total energy and atomic energies are inconsistent"
The atomic energies accumulation is not correct. For some cases (maybe all cases), the sum of line 660 is not equal to 659:

https://github.com/qzhu2017/PyXtal_FF/blob/1c5c220977f91985cfba74d6859b757f87aac059/pyxtal_ff/models/neuralnetwork.py#L659-L660

[2021-05-11 16:31] yanxon commented on #44
The count is not raised:
https://github.com/qzhu2017/PyXtal_FF/blob/1c5c220977f91985cfba74d6859b757f87aac059/pyxtal_ff/models/neuralnetwork.py#L650

[2021-05-11 16:57] yanxon commented on #42
@qzhu2017

I believe 9 out of the 1000 atoms flew away from the simulation according to the error. Perhaps, the mass is too light.

When I tried to use the Si atomic mass, which is 28.086 au. It's working fine.

[2021-05-11 17:20] qzhu2017 commented on #42
@yanxon Change the silicon mass partially solve the problem. However, the new model does not really predict the right volume. At 0K, the unit cell length a is 5.469*5 = 27.345.
If you try to run MD at 2000K, the cell length is around 27.4.
There is no thermal expansion. Something must be wrong during the training.

[2021-05-11 17:55] qzhu2017 commented on #42
@yanxon
I just made a commit. Please reinstall the code, and go to `examples/Si-LAMMPS`, then do

[code]

Here I am checking the stress for each structure in the training. I also output the stress due to NN and ZBL. The results are strange. Please take a look

[2021-05-11 20:20] qzhu2017 commented on #42
@yanxon

In our FF training, we output stress MAE, what will be the unit of stress MAE? I thought we were using GPa. If it is eV/A^3, the results would be very bad.

[2021-05-11 20:24] yanxon commented on #42
@qzhu2017

The unit during the training is in GPa:
https://github.com/qzhu2017/PyXtal_FF/blob/03d08564f27a0f8f19fda114c6bf8860cc39d832/pyxtal_ff/models/neuralnetwork.py#L516

[2021-05-11 20:49] yanxon commented on #42
@qzhu2017

Although, some of the orders in the DFT dataset are messed up. Please focus on the last two elements:
[code]

Compare this with the last few structures:
[code]

[2021-05-11 22:46] yanxon commented on #42
@qzhu2017

I still get `Too many neighbor bins`. This is due to the simulation box blows up:
https://sourceforge.net/p/lammps/mailman/message/34374794/

I think this is probably ok since 2000K configurations are not included in the training. What do you think?

[2021-05-11 23:16] qzhu2017 commented on #42
@yanxon
- Can you examine the configuration right before it blows up. Is it because the box is too large or too small. We intentionally add the zbl to prevent the box becomes small.

- Try to run it at 1000 K or other temperatures. On my side, I never found the temperature can be equilibrated to the target temperature. Say if I set 1000 K, the simulation will oscillates around 2000 K for a long ti

[2021-05-12 21:19] yanxon commented on #42
The configuration definitely blows up due to the box is too large. If you look at the results in the simulation below, we started with 28x28x28. At the end of the simulation, the box becomes 100x100x100 times larger.

For me the temperature oscillates at around 2000K because I set the temperature to be 2000 K.

[code]

[2021-05-13 03:53] macstein commented on #39
@David-Zagaceta
Now x is consistent with/without cutoff function.
When I use cutoff function, dxdr should be consistent, right?

dxdr are not same. I think I have a bug in SO3.c++. However, it is hard to compare because of different dimension of dxdr array.
In Mo case,
SO3.py
[code]
SO3.c++
[code]
Is there any way I can print dxdr[npairs,ndescript,3] in SO3.py ?

[2021-05-13 05:41] David-Zagaceta commented on #39
I will write a script that can output it in that format

On Wed, May 12, 2021 at 8:54 PM macstein ***@***.***> wrote:

[2021-05-13 05:42] David-Zagaceta commented on #39
dXdr should be consistent though in my version.  It agrees with the
numerical gradient.

On Wed, May 12, 2021 at 10:41 PM David Zagaceta ***@***.***>
wrote:

[2021-05-13 17:26] macstein commented on #39
@qzhu2017 I just remembered that I have checked SO3.c++ x with SO3.py and dxdr with energy and forces from PyXtal_FF (not directly using SO3.py for dxdr).
Can I have trained data (coefficient) and result (energy, forces) for Si , Mo and  Ni_Mo using @David-Zagaceta 's latest SO3.py applying cosine cutoff function?

[2021-05-13 23:00] yanxon commented on #42
@qzhu2017

I re-train a Si force field which I include the stress, but only the Elastic group. Here is the training result:
[code]

I'm using this script to run a md simulation:
[code]

Here is the results of the MD:
[code]

[2021-05-13 23:21] qzhu2017 commented on #42
@yanxon Thanks for sending the results. I got something similar when I excluded the stress data. Can you try to adjust the zbl inner/outer radius to 1.5/3.0? I suspect the strong repulsion due to zbl is doing something bad here.

Can we have a meeting this evening?

[2021-05-13 23:26] yanxon commented on #42
@qzhu2017

I am available after 6 pm.

[2021-05-14 01:42] yanxon commented on #42
I kinda see the same result with 1.5/3.0:
[code]

The simulations sporadically go to 900K.

[2021-05-14 03:36] yanxon commented on #42
@qzhu2017

Here are the results if ZBL is deactivated:
[code]
This looks very reasonable to me. I think we're done with Si MD.

[2021-05-14 04:27] qzhu2017 commented on #42
@yanxon
Sorry, I cannot do the meeting tonight. Here are my comments
1, the results with smaller zbl inner/outer looks slightly better. However, there is an artifact of repulsion due to zbl. It is probably worthwhile to force the zbl decay quickly. Maybe 1.5/2.4?

2, the results without zbl seem to be more robust. However, it does not seem to produce the correct thermal expansion. I think this is

[2021-05-14 04:41] #40 closed

[2021-05-14 05:18] qzhu2017 commented on #42
@yanxon I tried to set inner/outer to 1.5/2.0 for silicon. This will make the results more reasonable.

[2021-05-14 20:12] yanxon commented on #42
This makes sense! When I have the cutoff (outer) at 3.0, more atoms are inside this cutoff in comparison to the cutoff at 2.0. This will lead to much more repulsion. Consequently, many more atoms become more agitated (i.e. they tend to avoid each other) which leads to higher equilibrium temperature. It's good to see that ZBL is working properly.

[2021-05-14 20:15] yanxon commented on #42
@qzhu2017

We saw the same effect as the one that you posted in `FF-project/test_cases/`, didn't we?

[2021-05-14 20:54] yanxon opened #45 "ZBL PyXtal_FF and ZBL LAMMPS are inconsistent with small difference between inner and outer cutoff."
@qzhu2017

I am testing ZBL PyXtal_FF with Si dataset.

For instance, when the inner cutoff = 2.5 and outer cutoff = 3.0:
[code]

the inner cutoff = 2.5 and outer cutoff = 3.5:
[code]
Note: Stress is correct here.

the inner cutoff = 2.5 and outer cutoff = 4.0:
[code]
Note: The force error is less pronounce.

As the difference between outer and inner is greater, the error between pyxtal_ff and lam

[2021-05-14 21:46] qzhu2017 commented on #45
@yanxon
Check my recent commit. Go to `PyXtal_FF/examples/Si-LAMMPS`, you can run the script as follows. Clearly, something is messed up with the zbl forces. Should be an easy fix.

[code]

[2021-05-14 23:27] yanxon commented on #45
@qzhu2017

I fixed this issue in 657eab73589416ec6e8f11132b32b85930ca0bbf.

Let me see if I can update the `test_all.py` script too to include a very small difference between inner and outer cutoff for future convenience.

[2021-05-15 00:50] yanxon commented on #45
The test case is added in 3b38f46c846f9b28d19fc2b9a5c49e38edd815c2.

[2021-05-15 03:12] qzhu2017 commented on #45
@qzhu2017
The bug has not been fixed on my side after f65289589bca9dd5059aaa8c5a75a44673d84f7d. In `PyXtal_FF/examples/Si-LAMMPS`, I run
[code]

The forces are not consistent.

[2021-05-15 05:40] qzhu2017 commented on #45
@yanxon
Here is the updated output from `validate.py`

[code]
**It seems that the zbl output from PyXtal is about only half of the values from lammps for this structure.**

[2021-05-16 01:16] qzhu2017 commented on #45
@yanxon Can you resolve this issue soon. It seems that there is a fundamental problem that both energy/forces from pyxtal_FF are only about half of the outputs from lammps.

[2021-05-16 01:17] yanxon commented on #45
@qzhu2017
I am looking at it. I'm not sure what's wrong yet. Hopefully, I can spot something. Sometimes, it's just a silly mistake.

[2021-05-16 01:27] yanxon commented on #45
@qzhu2017
Can we please have a quick meeting today, say 5-10 mins? I think I know what's going on.

[2021-05-16 01:48] qzhu2017 commented on #45
https://unlv.webex.com/meet/qiang.zhu

On Sat, May 15, 2021 at 6:27 PM Howard Yanxon ***@***.***>
wrote:

--
[image: Photograph] <http://www.skarif2.io/>
*Qiang Zhu *Assistant Professor
*University of Nevada Las Vegas *• Physics and Astronomy
Phone ⋅ +1 702 895 1710
Email ⋅ ***@***.***
Address ⋅ BPB 232, 4505 S. Maryland Parkway
***@***.***,-115.1454793,17z/data=!3m1!4b1!4m5!3m4!1s0x80c8c5aacc5bd7

[2021-05-16 05:00] yanxon commented on #45
@qzhu2017

1. I successfully installed lammps-python and ran `validate.py`. I got this result:
[code]

2. Now, I take the "random" structure 3 and convert it to [lammps data structure](https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/Si-LAMMPS/validate/Si.data) and the corresponding [cif file](https://github.com/qzhu2017/PyXtal_FF/blob/master/examples/Si-LAMMPS/validate/Si.cif). Then, I

[2021-05-16 05:05] yanxon commented on #45
@qzhu2017

If you run this script:
[code]

You will get this:
[code]

The inner/outer is 1.0/2.0, not 1.5/2.0

[2021-05-16 06:03] qzhu2017 commented on #45
@yanxon I just fixed it as follows

- I changed the zbl inner in validate.py
- I also reset the bothways=False
Now the validate.py returns the consistent results.

[2021-05-16 06:03] #45 closed

[2021-05-16 07:03] qzhu2017 commented on #42
@yanxon
I just checked that SNAP+ZBL works for SiO2.
I will prep a release v0.1.7.
The revision of drij_drm will be moved to #33

[2021-05-16 07:09] #42 closed

[2021-05-18 16:01] qzhu2017 commented on #39
@David-Zagaceta Can you reply to @macstein's question? We need to get it done asap.

[2021-05-18 21:43] David-Zagaceta commented on #39
@qzhu2017 I fixed stress

@macstein to get the output format you need with (npairs, ncoefs, 3) just add the line

`print(dP)`

to line 234

As far as the trained data do you just need me to upload the .db?

![image](https://user-images.githubusercontent.com/31450165/118727184-3afe3a00-b7e7-11eb-849e-0af63918e591.png)

[2021-05-18 23:41] macstein commented on #39
@David-Zagaceta
For the above Mo case, adding print('dP',len(dP),len(dP[0]),len(dP[0][0]),len(dP[0][0][0]),len(dP[0][0][0][0]))to line 234 prints
[code]
In SO3.c++ dimension is dxdr[npairs=28, ndescript=24,3]
How can I convert dP to format of dxdr[npairs=28, ndescript=24,3]?

I will be need trained data once I implement rcut function in lammps.

[2021-05-19 00:11] David-Zagaceta commented on #39
@macstein try

'print(dP.reshape(dP.shape[0], ncoefs, 3))'

[2021-05-19 00:21] David-Zagaceta commented on #39
you will see conjugates or repeated values because of the symmetry but that should have the values you need

[2021-05-19 00:34] macstein commented on #39
@David-Zagaceta
I got an error.
[code]

[2021-05-19 00:39] David-Zagaceta commented on #39
@macstein That only worked for n=1, I realize that now.  Here's the final line

`print(dP[:,tril_indices[0], tril_indices[1], :,:].reshape(dP.shape[0], ncoefs, 3))`

[2021-05-19 02:55] macstein commented on #39
@David-Zagaceta Although printing orders are not same, the dxdr values are consistent. Thank you!
@qzhu2017
Do we go with cosine rcut function?
If it is, I will let you know after implement (move) cosine rcut function into mliap_so3 branch. Meanwhile, I will need trained data with new SO3.py using cosine rcut function to check mliap_so3. Can I have the energy and forces for Mo and Ni_Mo?

[2021-05-19 03:24] David-Zagaceta commented on #39
@macstein Do you just need coefficients for a LR and the a few specific structures from Mo and Ni_Mo?

[2021-05-19 03:41] macstein commented on #39
@David-Zagaceta Yes I need coefficients with LR for Mo and Ni_Mo. And I need energy and forces for some Mo and Ni_Mo structure using PyXtal_FF. I will compare the forces and energy for the same structure using mliap_so3.

[2021-05-19 23:30] qzhu2017 commented on #39
@macstein If the results are consistent, I suggest you update your lammps code as well.

[2021-05-19 23:40] macstein commented on #39
@qzhu2017 The results are consistent. I updated the mliap_so3 branch. I need trained data ( coefficients, energy, forces ) for the final check.

[2021-05-20 04:50] qzhu2017 commented on #33
@macstein @David-Zagaceta
I just tried to test if the results are consistent between lammps and python for so3. If you checkout my most recent commit and run the following the instructions [here](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-LAMMPS)
[code]
In the above, I generate 10 random structures and compute the energy, forces and stress tensors. They all return the right resu

[2021-05-20 06:04] macstein commented on #33
@qzhu2017
I cloned https://github.com/macstein/lammps.git and checkout to mliap_so3 branch.
And compiled:
[code]
Then, I pulled https://github.com/qzhu2017/PyXtal_FF.git and copied examples/Si-LAMMPS folder to lammps. I deleted last two line in 'Si-so3/DescriptorParam.txt':
[code]
Then I got the result.
[code]
Please let me know if I missed some to reproduce the slower running.
So far, in my tests

[2021-05-20 06:23] qzhu2017 commented on #33
@macstein
I got the same speed after I recompiled the code.

[2021-05-21 17:50] qzhu2017 commented on #39
@David-Zagaceta @macstein
I just tested the case for [SiO2](https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/SiO2-LAMMPS)

I believe the code now works for all cases now.

[2021-05-21 17:51] #39 closed

[2021-05-30 01:03] yanxon opened #46 "ZBL at outer return incorrect energy"
![twobody](https://user-images.githubusercontent.com/32254481/120088692-2142d980-c0a8-11eb-8a18-50d61fed246f.png)

[2021-05-30 01:10] yanxon commented on #46
Fix in 9e6cca2796e016818040e216b705ba25748fa680

![twobody](https://user-images.githubusercontent.com/32254481/120088787-0c1a7a80-c0a9-11eb-973f-e01ec40eeb7c.png)

[2021-05-30 01:10] #46 closed

[2021-06-01 23:44] yanxon commented on #33
@qzhu2017

###  Fix the dRij_dRm_norm for ACSF and wACSF
descriptors:
[code]

Prior results (1000 epochs):
[code]

After results (1000 epochs):
[code]

It seems like there is nothing changed in the results after the change. However, the ACSF computation per structure becomes about 2-3x higher. I believe I will just keep ACSF as is.

[2021-06-02 00:26] qzhu2017 commented on #33
@yanxon Can you give the example which will lead to the failure of the old code? We need to figure out why the code fails for these special cases.

[2021-06-02 23:37] qzhu2017 opened #47 "Enable the dimer calculation for ACSF and EAMD"
We should allow the calculation of dimer even when the 3-body term is present.

[2021-06-10 22:20] qzhu2017 commented on #33
@weilaigit
We have sent out the pull request to lammps.
https://github.com/lammps/lammps/pull/2796

We will make the release of v0.1.8 after lammps merges our pull request.

[2021-06-14 20:13] yanxon commented on #47
@qzhu2017 I will close this issue since the G4 and G5 allow dimer calculations now.
EAMD will always have dimer calculation enabled since it doesn't care about the triplet.

[2021-06-14 20:13] #47 closed

[2021-06-28 18:34] weilaigit opened #48 "couldn't include stress in the training"
I am using version 0.1.8 and it worked without including the stress in training.

I converted the vasprun.xml to a ASE trajectory file and used following settings:

from pyxtal_ff import PyXtal_FF
import os

TrainData = "./training.traj"

descriptor = {'type': 'SO3',
              'Rc': 6.0,
              'parameters': {'lmax': 4, 'nmax': 3},
              'ncpu': 1,
              'N_train': 1,

[2021-07-02 03:00] yanxon commented on #48
@weilaigit, thank you for raising the concern and sorry for the late reply. For some reason, I didn't get any notification on this issue. For next time, you can tag my name @yanxon. I will respond quicker :)

The error shows that there is no stress being registered since the `group` is `Elastic`. Therefore, `s_count` is zero.

I just updated the traj code in f4a32b2589d54eecf69bb3fab0b6b0368b3db36

[2021-07-04 14:40] weilaigit commented on #48
@yanxon Thanks for the change and it worked (I removed the stress_group option).  However, the R-squared of stress looks bad and I am guessing there might be a unit issue (true stresses are between -0.05 and 0.05 GPa while predicted stresses are -3 to 3 GPa from the plot).

The results for energy:
    Energy R2     0.858996
    Energy MAE    0.007898
    Energy RMSE   0.009947
The energy figure is

[2021-07-06 15:35] yanxon commented on #48
@weilaigit, I wonder what is the unit of stress in your trajectory file.

Is it eV/A^3? Can you please verify?

I am using `get_stress()` method to collect the stress:
https://wiki.fysik.dtu.dk/ase/_modules/ase/atoms.html#Atoms.get_stress

[2021-07-06 15:58] weilaigit commented on #48
@yanxon Yes, the unit of stress is eV/A^3 as the trajectory is from ASE.  I tried to add the conversion factor (eV2Gpa=160.21766) in the get_stress() but the Rsquared of stress is still not very good.

The results for energy:
    Energy R2     0.856972
    Energy MAE    0.009647
    Energy RMSE   0.012666
The energy figure is exported to: Si-so3/Energy_Train.png

The results for force:
    Force R

[2021-07-06 16:10] yanxon commented on #48
@weilaigit, in the Si-so3 folder, you can check `TrainStress.txt`.

If you convert `Predicted` value through eV/A^3-GPa conversion. Can you get close to the `True` value?

[2021-07-06 16:27] yanxon commented on #48
@weilaigit, I just changed the ASE traj stress from eV/A^3 to GPa internally so that it has unit consistency during the training (66079748157fa425a4ce5bc9e5e09924e35ed105).

Can you please retry the training again? I'm curious to see the results :)

[2021-07-06 17:52] weilaigit commented on #48
@yanxon This change is basically the same as multiplying the get_stress() by the conversion factor.  As a result, the training results are similar (the following).

==================== Evaluating Training Set ====================

The results for energy:
    Energy R2     0.859250
    Energy MAE    0.009693
    Energy RMSE   0.012564
The energy figure is exported to: Si-so3/Energy_Train.png

The

[2021-07-06 20:25] yanxon commented on #48
@weilaigit, it seems like the predicted value is equal to the negative of the true value. For some reason, ASE stress has the opposite sign than other conventional stress.

If you don't mind, can you please send me a sample of your traj (~5-10 structures) file? This way I can inspect it more thoroughly.

If so, you can send it to: hg.yanxon@gmail.com. Thank you in advance!

[2021-07-06 21:11] weilaigit commented on #48
@yanxon ASE stress has the same sign as LAMMPS as they are both real stress.  "Stress" in vasprun.xml or OUTCAR is actually pressure but this was taken care of when converting vasprun.xml to ASE trajectory.

If I only use the 1st and 2nd structure of a 50000 structure trajectory (training2.traj), stress can be trained well but not energy or force.

The results for energy:
    Energy R2     -51.356

[2021-07-07 19:44] yanxon commented on #48
@weilaigit, thank you for sending me the traj files.

I believe the stress sign should be negative of the one in the traj files, and I have updated the code to accommodate this (a4207e884bf89b2bac6347e319cec4008a083f07).

Here is my training script:
[code]

Result:
[code]

[2021-07-08 14:35] weilaigit commented on #48
@yanxon Yes, sign change seems to fix the problem.  Thanks for the help.

[2021-07-08 14:35] #48 closed

[2021-11-10 04:59] okunoyukihiro2 opened #49 "On the error in examples"
Dear PyXtal_FF developers

I'm a new to the PyXtal_FF, and I checked the examples in PyXtal_FF/examples.

I tried to run  /examples/Si-Python/bp-NN.py

python3 bp-NN.py

the following error had occurred.

Descriptor parameters:
type        : SO3
Rc          : 4.9
cutoff      : cosine
nmax        : 3
lmax        : 4
alpha       : 2.0

               ______       _    _          _         _______ __

[2022-02-19 22:16] qzhu2017 opened #50 "v0.2.0"
Update the documentation for lammps examples

[2022-02-21 18:38] qzhu2017 commented on #49
@okunoyukihiro2

Sorry, I just realized that I never got notification about this issue. If you are still interested in using PyXtal_FF, let me know.

[2022-02-21 18:38] #33 closed

[2022-02-21 18:38] #18 closed

[2022-02-22 05:11] okunoyukihiro2 commented on #49
Thank you for your reply.
I had changed the environment and there are no more error, (But I cannot resolve the  reason
for the first error. ）
However, when I started the SiO2-Python/python so4-full.py, an error occurs

--------- error message ------

Descriptor parameters:
type        : Bispectrum
Rc          : 4.9
cutoff      : cosine
lmax        : 3
normalize_U : False

Traceback (most recent ca

[2022-02-23 00:29] qzhu2017 opened #51 "Add Lammps_run to the calculator"
Currently, we support lammpslib. However, it is sometimes no easy to install python-lammps. Here we provide another calculator similar to lammps_run so that it can be called from system.

[2022-02-23 00:34] qzhu2017 commented on #51
- Single point energy calculation
- Optimization
- MD simulation (NVT, NPT)

- Read Structure/Energy/Forces/Velocities/Stresses

[2022-02-24 06:00] qzhu2017 commented on #49
@okunoyukihiro2
For SiO2, we rely on the OUTCAR from external url link. It looks like this file has been modified. Therefore, the script no longer works.

If you have xsf files, I suggest you convert the structure to ase.db format. For pyxtal_FF, the most convenient format would be ase.db. If you want, we can schedule a quick video meeting. I can show you how to make the conversion.

[2022-02-24 07:10] okunoyukihiro2 commented on #49
Thank you for your reply. 　I had just make script for converting the xsf format to json format, where the
json structure are given below

json={'formula':formula,
           'coords':
           {'@module':'numpy',
            '@class' :'array',
            'dtype'  :'float64',
            'data': coords},
           'lattice':
           {'@module':'numpy',
            '@class':'array',

[2022-02-24 07:18] qzhu2017 commented on #49
@okunoyukihiro2

Well. There is a way to work around it. If you can split it your 10K structure into 10 sets. And then train each of them sequentially. I will post some sample scripts tomorrow when I have time.

[2022-02-24 07:25] okunoyukihiro2 commented on #49
Thank you for your reply. If I can get sample, I will be very glad.
(Or should I change the descriptor from SO3 to weighted ACSF where the size of dimension for descriptor
becomes smaller. )

Sincerely.

[2022-03-14 13:54] PythonFZ opened #53 "Train model on custom data?"
Hey PyXtal_FF team,

Is there any documentation available on how to create the input data for PyXtal_FF?
The documentation starts with the provided JSON files but unfortunately I'm not familiar with the format or how to generate it.

I do have a list of ASE Atoms objects, with energies, forces and stresses available.
The structure has periodic boundary conditions. What would be the best way to con

[2022-03-18 03:07] Dong-Shiyu opened #54 "SO3 spectrum"
1. Why the normal factors and overlaps of polynomials are different from Bartok's original ones?
2. SO3.py[(https://github.com/qzhu2017/PyXtal_FF/blob/32cc4e7598a00a04c304e6ba15151a136d3177ca/pyxtal_ff/descriptors/SO3.py#L277)          cs = np.einsum('inlm,l->inlm', cs, norm)    why do we need to multiply this norm factor?

[2022-03-18 03:30] qzhu2017 commented on #54
Please check out our paper, we gave the reasoning in Section II.A

[2022-03-18 09:16] Dong-Shiyu commented on #54
Sorry,after read the paper  "PyXtal_FF: a python library for automated force field generation"
I think both the paper and the code is wrong, the formula and the factor is not right.
the normal factor in this paper is     np.sqrt(2*rcut**(2*alpha+7)/(2*alpha+5)/(2*alpha+6)/(2*alpha+7))
I don't know which paper have the right information.

[2022-03-18 14:53] qzhu2017 commented on #54
https://arxiv.org/pdf/2005.04332.pdf
<img width="396" alt="image" src="https://user-images.githubusercontent.com/29445366/159026163-cd1375d1-0eeb-4322-9fc3-4ca583502fe2.png">

[2022-03-18 15:16] qzhu2017 commented on #53
@PythonFZ
Hi, ASE is actually the most convenient way for us.
So, if you have ase.db file, just created some additional tag as follows,

[code]
Please note that ASE and VASP output the stress tensor in different orders and units. Make sure you follow the order of
[code]
and the unit of `Gpa`

The following code should give you some idea to organize you ase data
https://github.com/qzhu2017/PyXtal_F

[2022-03-18 15:16] qzhu2017 commented on #53
- [ ] to update the manual regarding the preparation of training data

[2022-03-18 18:25] qzhu2017 commented on #49
@okunoyukihiro2

Sorry for the delay.

I just added a new example to illustrate the idea of multiple batch. So you just need split your original json files into many subfiles. PyXtal_FF will train the model by iteratively scanning each subdata set.

https://github.com/qzhu2017/PyXtal_FF/tree/master/examples/Si-multi

I just tried on my own dataset, it seems resolve the memory issue on my end. Coul

[2022-03-19 02:58] Dong-Shiyu commented on #54
Get it. Thank you!

[2022-03-19 08:08] #54 closed

[2022-03-23 23:56] okunoyukihiro2 commented on #49
Thank you very much for script and teaching me on the
training method.

I will try it and show the result on this board.

Sincerely,

Yukihiro Okuno

[2022-03-30 00:00] HTranUIUC opened #55 "Error on 'Quick Start' file"
Hi PyXtal_FF team,

I just install PyXtal and run a sample code from 'Quick Start' - https://pyxtal-ff.readthedocs.io/en/latest/_rsts/links/_quickstart.html and I got the error:
![image](https://user-images.githubusercontent.com/102633372/160725038-41915940-3ca3-4102-baae-49b7765c8042.png)
(UnboundLocalError: local variable 'structure_dict' reference before assignment)

I tried with the example fi

[2022-03-30 19:22] HTranUIUC commented on #55
@qzhu2017

The error is indeed coming from being unable to identify the file in the provided file path.
Thank you for your help and brief response.

[2022-04-06 16:32] HTranUIUC opened #56 "Question: How to access the computed descriptor"
Hi,

This might be a silly question but I have a lot of structures that take time to build the descriptor. Once it is built, is there a way for me to:
1. Access them/ View the files?
2. Use the built descriptor as input to PyXtal NN directly?

[edit], additional question,
I trained with NN and plan to use the trained results for LAMMPS. My descriptor is ACSF. Upon finished training, I can only fin

[2022-11-22 05:52] #55 closed

[2022-11-22 05:52] #50 closed

[2022-11-22 06:05] qzhu2017 opened #57 "An example to call SNAP routine"
Here is an example to compute the SNAP descriptor
[code]

[code]

Executing the above script should give you the following output
[code]

## list of output:
- `x`: N_atoms * N_descriptors
- `dxdr`: [N_distance_pairs, N_descriptors, 3]
- `elements`: [N_atoms]
- `seq`: [N_distance_pairs, 2]
- `rdxdr`: [N_distance_pairs, N_descriptors, 3, 3]

[2022-11-28 08:32] zhengyuzhang1015 commented on #57
Thank you! I feel like hard to understand 'N_distance_pairs'.

First question is that, why there are 3026 distance pairs, what are components? If I want to discuss 1st atom's x-direction force, which part of dxdr (3026, 30, 3) array will correspond to this?

Second question is that, I see that in the document page, OUTCAR is an acceptable data format. If I have 500 OUTCAR files, I just need to put

[2022-11-29 00:10] qzhu2017 commented on #57
You are right, Each atomic `i-j` pair will be generate force on both atom `i` and `j`. Say if you have 8 atoms in the unit cell and the atom 0 has neighbors of 1, 2, 3 within the cutoff, dx_0/dr_0, dx_0/dr_1, dx_0/dr_2, dx_0/dr_3 will be non zero. But dx_0/dr4 will be zero. So we don't keep dx_0/dr_4 in the dxdr array.

<img width="297" alt="image" src="https://user-images.githubusercontent.com/29

[2022-11-29 08:23] zhengyuzhang1015 commented on #57
Thank you!

Yes I tried to use OUTCAR and .json input, but all got error. I thought it is problem with format. I don't have raw data with a .json format as in your example, and also don't have a "compressed OUTCAR" mentioned in the documentation, but I will extract what needed and store them into ase database.

I will store Atom object read from POSCAR as structure, then extract needed data (eng,